/* card */
$card-bg: #fff;
$card-min-height: 40px;

/* card header */
$card-header-bg: #f1c40f;
$card-header-height: 50px;
$card-header-line-height: 50px;

/* card title */
$card-header-title-size: 18px;

/* component modify */
$card-header-primary-bg: #2980b9;
$card-header-danger-bg: #e74c3c;
