/* Item Cardapio */
$item-cardapio-width: 640px;
$item-cardapio-bg: #fff;

/* Item Cardapio Image */
$item-cardapio-img-width: 127px;
$item-cardapio-img-height: 117px;

/* Item Cardapio Descricao */
$item-cardapio-descricao-bg: #f1c40f;

/* Component modify */
$item-cardapio-descricao-light: #2ecc71;
$item-cardapio-descricao-calorico: #e74c3c;
